SMARTGUARDIAN_CLOUD_DB_PROVIDER=agc
SMARTGUARDIAN_PROJECT_CREDENTIAL_JSON_BASE64=<base64-encoded-server-sdk-agc-apiclient-json>
SMARTGUARDIAN_CLOUD_DB_ZONE=your-cloud-db-zone-name
SMARTGUARDIAN_REGION=CN
AGC_CONNECT_JWT_ALG=RS256
