SMARTGUARDIAN_CLOUD_DB_PROVIDER=agc
PROJECT_CREDENTIAL=C:\path\to\agc-apiclient.json
AGC_CLOUD_DB_ZONE=your-cloud-db-zone-name
AGC_REGION=CN
AGC_CONNECT_PRIVATE_KEY_FILE=C:\path\to\agc-connect-private.json
AGC_CONNECT_JWT_ALG=RS256
